.Inteoduce {
  box-shadow: 0px 10px 15px 5px rgb(0 0 0 / 18%);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}

.Inteoduce h4 {
  font-weight: 900;
}

.Inteoduce ul {
  font-size: 20px;
  padding: 0;
}

.Inteoduce ul > li {
  align-items: center;
  display: flex;
  margin: 15px 0;
  font-weight: 500;
}

.Inteoduce ul > li > img {
  margin-right: 10px;
}
.Information {
  box-shadow: 0px 10px 15px 5px rgb(0 0 0 / 18%);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}
.Information h4 {
  font-weight: 900;
}
.Information ul {
  font-size: 20px;
  padding: 0;
}
.Information ul > li {
  align-items: center;
  display: flex;
  margin: 15px 0;
  font-weight: 500;
}
.Information ul > li > img {
  margin-right: 10px;
}
