.App {
  display: flex;
  justify-content: center;

}

.gridContainer>div {
  padding: 10px;
  max-width: 1000px;
}

.item1 {
  margin: auto;
}

.ul_active {
  list-style: none;
  display: flex;
}

.ul_active li {
  height: 30px;
  width: 30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  border-radius: 50%;
  text-align: center;
}