.Style1 {
  box-shadow: 0px 10px 15px 5px rgb(0 0 0 / 18%);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}
.Style1 p {
  font-weight: 500;
  font-size: 20px;
}
.Style1 h4 {
  font-weight: 900;
}
