.Style1 {
  box-shadow: 0px 10px 15px 5px rgb(0 0 0 / 18%);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}

.Style1 h4 {
  font-weight: 900;
}

.Style1 ul {
  font-size: 20px;
  padding: 0;
}

.Style1 ul>li {
  align-items: center;
  display: flex;
  margin: 15px 0;
  font-weight: 500;
}

.Style1 ul>li>img {
  margin-right: 10px;
}